:root {
  --instagram-color: #de1b85;
  --instagram-hover-color: #8a1455;
  --whatsapp-color: #1ebea5;
  --whatsapp-hover-color: #104941;
  --google-maps-color: #db4447;
  --google-maps-hover-color: #6d2122;
}

/* Foreground */

.white {
  color: white;
}

/* Background */
