<header id="site-head" style="background-image: url({{ section.background_image }})">
    <div class="vertical">
        <div id="site-head-content" class="inner">
            <h1 class="blog-title">{{ section.title }}</h1>
            <h2 class="blog-description">{{ section.subtitle }} </h2>
            <a class="btn site-menu" data-title-anchor="services">Services</a>
            <a class="btn site-menu" data-title-anchor="about-me">About Me</a>            
            <a class="btn site-menu" data-title-anchor="contact">Contact</a>            
            <i id="header-arrow" class="fa fa-angle-down"></i>
        </div>
    </div>
</header>